@model GrapsTrack.Models.Performer

@{
    ViewBag.Title = "Details";
}
@*<h2>Details</h2>*@
<div>
    @*<h4>Performer</h4>
        <hr/>*@
    <h1 class="perfhead">
        <td>
            <a href="@Model.InfoLink">@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</a>
        </td>
    </h1>

    <dl class="dl-horizontal">
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <p class="pic">
                    <img src="@Html.DisplayFor(model => model.PhotoLink)" alt="Sample Image" />
                </p>
            </div>
            <div class="col-md-6">
                <h4>
                    Age:  @Html.DisplayFor(model => model.Age) years old
                </h4>
                <h4>
                    Height:  @Html.DisplayFor(model => model.Height)
                </h4>
                <h4>
                    Weight:   @Html.DisplayFor(model => model.Weight) lbs.
                </h4>
            </div>
        </div>
    </dl>
</div>
<br />
<p>
    <button>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    </button>
</p>
