@model GrapsTrack.Models.EventVm

@{
    ViewBag.Title = "Details";
}

<div>
    <h2>
        @Html.DisplayFor(model => model.Title)
    </h2>
    <p>
        @Html.DisplayFor(model => model.Date)
    </p>
    <p>
        @Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.State)
    </p>
    <p>
        @foreach (var performer in Model.Performers)
        {
        <p>
            @Html.DisplayFor(model => performer.FirstName) @Html.DisplayFor(model => performer.LastName)
        </p>
        }
        </p>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    </p>

