@model GrapsTrack.Models.EventVm

@{
    ViewBag.Title = "Details";
}
<h1 class="perfhead">
    @Html.DisplayFor(model => model.Title)
</h1>
<br/>

<div class="row">
    <div class="col-md-4 col-md-offset-2">
        <p class="pic">
            <img src="@Html.DisplayFor(model => model.Flyer)" alt="Sample Image" />
        </p>
    </div>

    <div class="col-md-4">
       
        <h4>
            @Html.DisplayFor(model => model.Date)
        </h4>
        <h4>
            @Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.State)
        </h4>
        <br />
        <h4>
            FEATURING:
        </h4>

        <p>
            @foreach (var performer in Model.Performers)
            {
            <p>
                @Html.ActionLink((performer.FirstName) + " " + (performer.LastName), "Details", "Performers", new { id = performer.Id }, null)
            </p>
            }
            </p>
        </div>
    </div>
    <br />
    <p>
        <button>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        </button>
    </p>

