@model GrapsTrack.Models.EventVm

@{
    ViewBag.Title = "Details";
}

<div>
    <h2>
        @Html.DisplayFor(model => model.Title)
    </h2>
    <p>
        @Html.DisplayFor(model => model.Date)
    </p>
    <p>
        @Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.State)
    </p>
    <br />
    <h4>
        FEATURING:
    </h4>

    <p>
        @foreach (var performer in Model.Performers)
        {
        <p>
            @Html.ActionLink((performer.FirstName) + " " + (performer.LastName), "Details", "Performers", new { id = performer.Id }, null)
        </p>
        }
        </p>
    </div>
    <br />
    <p>
        <button>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        </button>
    </p>

