@model GrapsTrack.Models.Event

@{
    ViewBag.Title = "Details";
}

<div>
   <hr />
        <h2>
            @Html.DisplayFor(model => model.Title)
        </h2>

        <p>
            @Html.DisplayFor(model => model.Date)
        </p>
        <p>
            @Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.State)
        </p>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
</p>

